*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: PixelOperator;
    margin:0;
    height: 100%;
    overflow:hidden;
}

body{
    height: 100vh;
}

@font-face{
    font-family: PixelOperator;
    src: url(PixelOperator.ttf);
}

#main_title{
    font-size: 200px;
    text-align: center;
    position:relative;
    display:block;
    z-index: 100;
}

h1{
    z-index: 256;
}

#mushroom{
    position: absolute;
    display: block;
    width: 200px;
}


p {
    font-size: 40px;
    text-align: center;
    position:relative;
    z-index: 150;
}